<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>
  <button type="button" (click)="addToCart(product)">Buy</button>
</div>

<!-- The line, <h4>{{ product.price | currency }}</h4>, uses the currency pipe 
    to transform product.price from a number to a currency string. 
    A pipe is a way you can transform data in your HTML template. 
    For more information about Angular pipes, see Pipes.
-->


<!-- En product-details.component.html, agregue un botón con la etiqueta Comprar y 
    vincule el evento click() al método addToCart(). Este código actualiza la plantilla
    de detalles del producto con un botón Comprar que agrega el producto actual al 
    carrito.
    Se actualizo linea 7
-->